@charset "utf-8";

body { 
    text-transform: uppercase; 
    font-family: 'Gotham','NanumSquare', 돋움, sans-serif; 
}

a { display: block; text-decoration: none; /* color: #000; */ }


/* head */

header {
    background: url(./img/main_img1_pc.jpg) no-repeat 50% / cover;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
}
header span {
    margin: 0 0 0 3px;
    font-size: 16px;
}
header .headerbox {
    margin: 0 auto;
    display: flex;
    /* background-color: #000; */
    height: 100px;
    justify-content: space-between;
    width: 1140px;
    align-self: center;
}
header h1 a {
    width: 108px;
}

header nav .menu {
    display: flex;
    flex-flow: row;
    font-size: 13px;
    font-weight: 700;
}
header nav .menu>li { text-align: center; }
header nav .menu>li:nth-child(1) { width: 112px; }
header nav .menu>li:nth-child(2) { width: 107px; }
header nav .menu>li:nth-child(3) { width: 107px; }
header nav .menu>li:nth-child(4) { width: 103px; }
header nav .menu>li:nth-child(5) { width: 116px; }
header nav .menu>li:nth-child(6) { width: 135px; }

header nav .menu>li>a {
    height: 100px;
    line-height: 100px;
    padding: 0 12px;
    color: #fff;
    letter-spacing: 0.7px;
}
header nav .menu>li:hover>a {
    color: #d6b161;
}
header .menu>li> ul {
    display: none;
}
header .menu>li:hover> ul {
    display: block;
}
header nav .menu_1 {
    background-color: #fff;
    width: 190px;
    text-align: left;
    font-size: 11px;
    font-weight: 400;
/*     padding: 10px 20px; */
}
header nav .menu_1 a {
    padding: 10px 20px;
    color: #000;
}
header nav .menu_1 li:hover a {
    background-color: #d6b161;
    color: #fff;
}
header nav .menu_1:nth-child(2)>li {
    position: relative;
} 
header nav .menu_1:nth-child(2)>li:first-child strong {
    margin-left: 94px;
    font-weight: 700;
    font-size: 16px;
}
header nav .menu_2_1 {
    position: absolute;
    top: 0; left: 190px;
    width: 190px;
}
header nav .menu_1:nth-child(2) li:hover .menu_2_1 a {
    background-color: #fff;
    color: #000;
}
header nav .menu_1:nth-child(2) li:hover .menu_2_1 li:hover a {
    background-color:  #d6b161;
    color: #fff;
}
header nav .menu_1:nth-child(2)>li ul {
    display: none;
}
header nav .menu_1:nth-child(2)>li:hover> ul {
    display: block;
}
header .header_box1 {
    text-align: center;
    position: absolute; 
    top: 55%; left: 50%; transform: translate(-50%, -50%);
}
header .header_box1 h2 {
    font-size: 57px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 100;
    color: #333333;
    word-spacing: -1px;
    letter-spacing: 4px;
}
header .header_box1 h3 {
    color: #555555;
    font-size: 20px;
    font-family: 'NanumSquare', sans-serif;
    margin-top: 20px;
    letter-spacing: 8px;
    word-spacing: -1px;
    line-height: 30px;
    font-weight: 800;
}
header .header_checkbox {
    margin: 50px auto;
    width: 191px;
    box-sizing: border-box;
}
header .header_checkbox a {
    height: 55px;
    line-height: 25px;
    border: 1px solid #333;
    display: block;
    color: #555;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
header .header_checkbox:hover a {
    background-color: #333;
    color: #fff;
    font-weight: 600;
}
header .header_checkbox a svg {
    width: 15px;
    height: 14px;
}
header .header_checkbox a svg path {
    fill: #555;
}
header .header_checkbox:hover a svg path {
    fill: #fff;
}



/* main */
main .main_about {
    height: 620px;
    padding: 100px 0;
    box-sizing: border-box;
    overflow: hidden;
}
main .main_about_box {
    margin: 0 -15px;
    text-align: center;
}
main .main_about_box .txt {
    margin-bottom: 100px;
}
main .main_about_box .txt h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: normal;
}
main .main_about_box .txt p {
    font-size: 15px;
    color: #7e7e7e;
    padding: 30px 0 0;
}
main .main_about_box .about_box {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-auto-rows: 229px;
    justify-content: space-evenly;
}
main .main_about_box .box {
    font-size: 15px;
    color: #323232;
    padding: 0 30px;
    border: 1px solid #e9e9e9;
    position: relative;  
    padding: 25px;
    border-radius: 4px;
    width: 330px;
}
main .main_about_box .about_box .img {
    background-color: #222;
    border: 5px solid #fff;
    width: 65px; height: 65px;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: -30px; 
}
main .main_about_box .box .img .img_svg {
    display: block;
    width: 25px; height: 25px;
    filter: invert(100%);
    margin: 15px auto;
}
main .main_about_box .about_box .img:hover {
    background-color: #d6b161;
}
main .main_about_box .box .about_txt {
    margin: 30px auto;
    text-align: left;
}
main .main_about_box .box .about_txt h3 {
    font-size: 18px;
    margin: 0 0 20px;
    color: #333;
}
main .main_about_box .box .about_txt p {
    font-size: 15px;
    color: #7e7e7e;
    line-height: 23px;
}

main .main_product {
    height: 467px; 
    box-sizing: border-box;
    padding: 100px 0;
    background-color: #f5f5f5;
    font-size: 15px;
    color: #323232;
    margin: 0 auto;
}
main .productbox {
    display: grid;
    grid-template-columns: repeat(2,585px);
    justify-content: center;
}
main .product_box1, .product_box2 {
    padding: 0 30px;
}
main .main_product h3 {
    font-size: 18px;
    margin: 0 0 30px;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 3px;
}
main .product_box1 p {
    font-size: 15px;
    color: #7e7e7e;
    line-height: 30px;
}

main .main_product .box2_grape {
    color: #323232;
    overflow: visible;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background: #eae8e8;
    box-shadow: none;
    font-weight: 400;
    position: relative;
}
main .main_product .grape_bg {
    overflow: visible;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 10px;
    text-align: left;
    color: #fff;
    background-color: #222;
    box-shadow: none;
    font-size: 10px;
    line-height: 20px;
}
main .main_product .pos1 {
    position: absolute;
    top: -28px;
    right: 190px;
}
main .main_product .pos2 {
    position: absolute;
    top: -28px;
    right: 240px;
}
main .main_product .pos3 {
    position: absolute;
    top: -28px;
    right: 6px;
}
main .main_product .grape_peacant {
    display: inline-block;
    min-width: 25px;
    height: 20px;
    padding: 0 8px;
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, .6);
    line-height: 20px;
    font-size: 10px;
}
main .main_product .grape_peacant::before {
    position: absolute;
    bottom: -2px;
    left: 15px;
    display: block;
    width: 5px;
    height: 5px;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-style: none;
    border-color: #666;
    border-right: 1px solid #666;
    -o-border-image: none;
    border-image: none;
    background-color: #666;
}

main .main_area {
    height: 872px;
    padding: 100px 0;
    text-align: center;
}
main .main_area img {
    width: 330px;
    display: inline-block;
}
main .main_area h2 {
    font-size: 24px;
    color: #333;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 100px;
    text-transform: uppercase;
    
}
main .main_area .area_box {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    justify-content: center;
}
main .main_area .box {
    padding: 0 30px;
}
main .main_area .box1_txt {
    padding: 40px 0;
    height: 309px;
    text-align: left;
}
main .main_area .box1_txt h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}
main .main_area .box1_txt h3:hover a {
    color: #d6b161;
}
main .main_area .box1_txt h3>a {
    color: #222;
    font-size: 18px;
}
main .main_area .box1_txt p {
    font-size: 15px;
    color: #7e7e7e;
    margin-bottom: 30px;
    line-height: 30px;
}
main .main_area .box1_txt>a {
    color: #bbbbbb;
    position: relative;
    letter-spacing: 1px;
}
main .main_area .box1_txt>a:hover {
    color: #000;
}
main .main_area .box1_txt>a>img {
    position: absolute;
    top: 2px;
    margin-left: 10px;
    font-weight: bold;
    width: 16px; height: 15px;
    filter: contrast(0%) brightness(140%); 
}

main .main_clients {
    height: 556px;
    padding: 100px 0;
    background-color: #f5f5f5;
}

main .main_clients .clients_txt {
    text-align: center;
}
main .main_clients .clients_txt h2 {
    font-size: 24px;
    color: #333;
    letter-spacing: 2px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
}
main .main_clients .clients_txt p {
    color: #7e7e7e;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 30px;
}
main .main_clients .clients_imgbox {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 1110px;
    margin: 0 auto;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 30px;
    padding-top: 90px;
}
main .main_foot {
    height: 450px;
    background-color: #222;
    padding: 80px 0;
    color: #6f7273;
}
main .main_foot .foot_box {
    display: grid;
    grid-template-columns: repeat(4,292.5px);
    grid-auto-rows: 291px;
    justify-content: center;
}
main .main_foot .work_box{
    display: grid;
    grid-template-columns: repeat(3, 67.66px);
    grid-auto-rows: 70px;
    gap: 10px;
    justify-content: center;
    position: relative;
}
main .main_foot .work_box a {
    width: 67.66px; height: 67.66px;
    font-size: 0px;
}
main .main_foot .work_box .txt {
    width: 0px; 
    height: 0px;
    overflow: hidden;
    background: rgba(0, 0, 0, .4) url(./img/instagram.svg) no-repeat 50% / 15px;
    text-indent: -9999px;
    transform: translatey(-68px);
    
}
main .main_foot .work_box .img_box:hover .txt {
    width: 69.66px; height: 69.66px;
    /* transform: translatey(-240px); */
}
main .main_foot .work_box a img {
    width: 77.66px;
    display: block;
}
main .main_foot h3 {
    font-size: 14px;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 1px;
}
main .main_foot .foot_pro, .foot_posts, .foot_link, .foot_work {
    padding: 0 30px;
}
main .main_foot .foot_posts li, .foot_link li {
    border-bottom: 1px solid #333;
}
main .main_foot .foot_posts a, .foot_link a {
    font-size: 15px;
    color: #a2a2a2;
    display: block;
    line-height: 45px;
    text-transform: none;
}
main .main_foot .foot_posts a::before, .foot_link a::before {
    padding-right: 15px;
    content: "\f105";
    font-family: "FontAwesome";
}
main .main_foot .foot_posts a:hover, .foot_link a:hover {
    color: #d6b161;
}
main .main_foot .foot_pro a {
    margin-bottom: 20px;
}
main .main_foot .foot_pro p {
    color: #7e7e7e;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 30px;
    text-transform: none;
    text-align: left;
    font-weight: 400;
}


/* footer */
footer .footer_box {
    box-sizing: border-box;
    height: 140px;
    background-color: #1b1b1b;
    color: #6f7273;
    font-size: 15px;
    padding: 35px 0;
    border-top: 1px solid #333;
    border-bottom: 5px solid #222;
}
footer .footer_box .box_grid {
    display: grid;
    grid-template-columns: repeat(2, 585px);
    justify-content: center;
    align-items: center;
}
footer .footer_box .box_grid .footer_txt {
    padding: 0 30px;
    text-transform: none;
    line-height: 1.5;
}
footer .footer_box .box_grid .footer_txt a {
    margin-left: 5px;
    display : inline-block;
    color: #fff;
}
footer .footer_box .box_grid .footer_txt a:hover {
    color: #d6b161;
}
footer .footer_box .box_grid .footer_txt span {
    margin-top: 10px;
}
footer .footer_box .footer_link {
    padding: 0 30px;
    text-align: right;
}
footer .footer_box .footer_link .link_grid {
    display: flex;
    justify-content: right;
}
footer .footer_box .footer_link .link_grid a {
    display: block;
    margin-left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #5a5a5a;
    border-radius: 50%;
    color: #5a5a5a;
    font-size: 20px;
    line-height: 35px;
}
footer .footer_box .footer_link .link_grid a:hover {
    color: #fff;
    background-color: #5a5a5a;
}
footer .footer_box .footer_link .link_grid .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
}
footer .footer_box .footer_link .link_grid .fa-facebook::before {
    content: "\f09a";
    font-family: "fontawesome";
}
footer .footer_box .footer_link .link_grid .fa-twitter::before {
    content: "\f099";
    font-family: "fontawesome";
}
footer .footer_box .footer_link .link_grid .fa-google::before {
    content: "\f0d5";
    font-family: "fontawesome";
}
footer .footer_box .footer_link .link_grid .fa-behance::before {
    content: "\f1b4";
    font-family: "fontawesome";
}
footer .footer_Up .fa {
    display: inline-block;
    font: normal;
    font-size: inherit;
    text-rendering: auto;
    /* -webkit-font-smoothing: antialiased; */
    transform: translate(0, 0);
}

footer .footer_Up .fa-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    transition: all .3s;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    line-height: 40px;
}

footer .footer_Up .fa-up::before {
    content: "\f106";
    font-family: "fontawesome";
}
footer .footer_Up a:hover .fa {
    background-color: #d6b161;
    color: #7e7e7e;
}

